/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 *= require_tree .
 */

#main {
  margin-top: 50px;
}

#map { height: 340px; }

.navbar {
  background-color: #428bca !important;
  border-color: darken(#428bca, 10%) !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-brand:hover {
  color: darken(#fff, 10%) !important;
}